
QPushButton {
  font-family: Minecraft;
  background-color: #bb6b01;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  text-decoration: navajowhite;
  display: inline-block;
  font-size: 16px;
  margin: px 1px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  min-width: 150px;
  min-height: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  }



  QPushButton:hover {
    background-color: #c7a314;
  }


  QFrame#line {
    border: none;
    border-left: 2px solid #000000;
    height: 150%;
    width: 3px;

  }
  QWidget#centralwidget {
    background-color: #793c03;
}